<header class="header">
  <div class="back-icon">
    <h2>
    <%= link_to user_url(current_user) do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </h2>
  </div>
  <div class="section-title">
    <h2>New Group</h2>
  </div>
</header>

<main class="submit-form">
  <%= form_with model: @group do |x| %>
    <%= x.text_field :name, required: true, class:"submit-field" %>
    <br>
    <%= x.submit "Save", class:"save-button" %>
  <% end %>
</main>