<header class="header">
  <div class="user-title">
    <h2>New User</h2>
  </div>
</header>

<div class="user-form">
  <%= form_for @user do |user| %>
  <%= user.text_field :name, autofocus: true, class:"submit-field" %>
  <br>
  <%= user.submit class:"save-button"%>
  <% end %>
</div>