/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   background: #006BA6;
   color: #F8F7FF;
   font-size: 40px;
   height: 100vh;
 }
 ul, li {
   list-style: none;
 }
 a {
   text-decoration: none;
   color: #FFBC42;
 }
 .section-title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 60%;
 }
 .back-icon {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 20%;
 }

 .header {
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  height: 70%;
  background-color: #F8F7FF;
  color: #FFBC42;
  width: 90%;
  margin: auto;
  justify-content: center;
  display: flex;
}

.footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fas {
  margin: 0 15px;
}

.submit-form {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-field {
  font-size: 40px;
  width: 50%;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.save-button {
  font-size: 50px;
  padding: 20px;
  border-radius: 15px;
  background-color: #5FAD56;
  color: #FFBC42;
}

.submit-amount {
  margin-bottom: 100px;
  font-size: 40px;
  border-radius: 15px;
  padding: 20px;
  width: 20%;
  text-align: center;
}

.submit-options {
  margin-bottom: 100px;
  font-size: 40px;
  border-radius: 15px;
  padding: 20px;
  background-color: #ffffff;
  width: 50%;
}

select {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
  -ms-appearance:none;
}

.user-title {
  width: 100%;
  font-size: 50px;
}

